.footer {
  padding: 50px 0 75px;
  background: var(--bg-secondary);
  font-size: 16px;

  @media (max-width: 1024px) {
    padding: 48px 0 48px 0;
  }

  @media (max-width: 768px) {
    padding: 20px 0 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media (max-width: 768px) {
    gap: 48px;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.bottomNav {
  display: flex;
  gap: 50px;

  & > p {
    opacity: 0.5;
  }

  @media (max-width: 1024px) {
    & > p {
      font-size: 12px;
    }
  }
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25em;

  @media (max-width: 1024px) {
    width: 204px;
    gap: 0.5em;
  }
}
.logoWrapper > small {
  opacity: 0.65;
  width: 204px;

  @media (max-width: 768px) {
    font-size: 10px;
    line-height: 16px;
    max-width: 171px;
  }
}

.nav > div > h6 {
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: 400;

  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 19px;
  }
}
.nav > div ul > li {
  padding: 0.25em 0;
}

/*phone & email block*/
.nav > div > article {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
}
.nav > div > article:not(:last-child) {
  margin-bottom: 1.5em;
}
.nav > div > article > small {
  font-size: 14px;
  opacity: 0.65;

  @media (max-width: 1024px) {
    font-size: 12px;
    margin-bottom: 12px;
  }
}
.nav > div > article > a {
  font-size: 20px;
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}
.nav > div > article > a:hover {
  text-decoration: underline;
}

.nav > div > div:has(a) {
  display: flex;
  gap: 12px;
}
.nav > div > div > a {
  cursor: pointer;
}

.nav > div ul > li > a {
  font-size: 16px;
  color: var(--text-primary);
  text-decoration: none;
  opacity: 0.65;
  transition: 0.15s;

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}
.nav > div ul > li > a:hover {
  opacity: 1;
}
