.footer {
  padding: 50px 0 75px;
  background: var(--bg-secondary);
  font-size: 16px;

  @media (max-width: 745px) {
    padding: 48px 0 48px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.nav {
  position: relative;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  gap: 2em;

  @media (max-width: 745px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.bottomNav {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25em;

  @media (max-width: 745px) {
    width: 204px;
  }
}
.logoWrapper > small {
  opacity: 0.65;
}

.nav > div > h6 {
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: 400;

  @media (max-width: 745px) {
    font-size: 14px;
    line-height: 19px;
  }
}
.nav > div ul > li {
  padding: 0.25em 0;
}

/*phone & email block*/
.nav > div > article {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
}
.nav > div > article:not(:last-child) {
  margin-bottom: 1.5em;
}
.nav > div > article > small {
  font-size: 14px;
  opacity: 0.65;

  @media (max-width: 745px) {
    font-size: 12px;
    margin-bottom: 12px;
  }
}
.nav > div > article > a {
  font-size: 20px;
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 700;

  @media (max-width: 745px) {
    font-size: 14px;
  }
}
.nav > div > article > a:hover {
  text-decoration: underline;
}

.nav > div > div:has(a) {
  display: flex;
  gap: 12px;
}
.nav > div > div > a {
  cursor: pointer;
}

.bottomNav > a,
.nav > div ul > li > a {
  font-size: 16px;
  color: var(--text-primary);
  text-decoration: none;
  opacity: 0.65;
  transition: 0.15s;

  @media (max-width: 745px) {
    font-size: 12px;
  }
}
.bottomNav > a:hover,
.nav > div ul > li > a:hover {
  opacity: 1;
}

.messengers {
  @media (max-width: 745px) {
    position: absolute;
    left: 0;
    top: 132px;
  }
}

.desktopBtn {
  display: block;
  @media (max-width: 745px) {
    display: none;
  }
}

.tabletBtn {
  display: none;
  @media (max-width: 745px) {
    display: block;
    width: 132px;
    position: absolute;
    right: 10%;
    top: 173px;
  }
}

.bottomNav {
  @media (max-width: 745px) {
    gap: 2em;
    justify-content: space-between;
    font-size: 12px;

    & a:first-child {
      order: 0;
      width: 204px;
    }

    & p {
      order: 1;
      margin-right: auto;
    }

    & a:nth-child(2) {
      order: 2;
    }
  }
}
