.section {
  position: relative;
  overflow: hidden;
}

.wrapper {
  padding: 175px 0;
  max-width: 650px;
}

.wrapper p:first-child {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}

.wrapper h2 {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 32px;
}

.description {
  font-size: 18px;
  color: var(--text-secondary);
  margin-bottom: 48px;
}

.screenBg {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 1;
}

.screenBgBlur {
  position: absolute;
  top: 450px;
  right: 0;
  z-index: 0;
}
