.wrapper {
  /* padding: 21px 0px 156px 83px; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  position: relative;
}

.wrapper h1 {
  font-size: 52px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 32px;
}

.wrapper h1 span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: var(--primary-color);
}

.wrapper p {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24.5px;
}

.titleWrapper {
  padding: 21px 0px 156px 0px;
  max-width: 654px;
  padding-top: 64px;
}

.buttonWrapper {
  display: flex;
  gap: 16px;
}
