.section {
  background-image: url('../../../shared/assets/blur.svg');
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper h1 {
  font-size: 52px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 32px;
}

.wrapper h1 span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: var(--primary-color);
}

.wrapper p {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.titleWrapper {
  max-width: 654px;
  padding: 120px 0;
}

.buttonWrapper {
  display: flex;
  gap: 16px;
}

.chat {
  margin: 0 -10.5vw 0 0;
  z-index: 2;
}
