.wrapper {
  padding: 134px 30px 234px 140px;
  display: flex;
  align-items: center;
}

.wrapper h1 {
  font-size: 52px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 32px;
}

.wrapper h1 span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: var(--primary-color);
}

.wrapper p {
  margin-bottom: 48.5px;
}

.titleWrapper {
  width: 654px;
}

.buttonWrapper {
  display: flex;
  gap: 16px;
}
