.section {
  padding: 75px 0;
  background-color: var(--bg-secondary);

  @media (max-width: 1024px) {
    padding: 24px 0;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  justify-content: space-between;
  align-items: flex-end;
  gap: 75px;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.descriptionWrapper h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 50px;

  @media (max-width: 1024px) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }
}

.descriptionWrapper > p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 100px;
  opacity: 0.75;

  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 24px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.btnDesktop {
  display: block;

  @media (max-width: 1024px) {
    display: none;
  }
}

.btnTablet {
  display: none;

  @media (max-width: 1024px) {
    display: block;
    margin-top: 18px;
    align-self: flex-start;
  }
}
