.section {
  padding: 75px 0;
  background-color: var(--bg-secondary);
}

.wrapper {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  justify-content: space-between;
  align-items: flex-end;
  gap: 75px;
}

.descriptionWrapper h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 50px;
}

.descriptionWrapper > p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 100px;
  opacity: 0.75;
}
