.wrapper {
  margin: 5em 0 10em;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
  background: linear-gradient(to left, var(--bg-primary), transparent);
}
.content::-webkit-scrollbar {
  height: 28px;
}
.content::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
.content::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--bg-secondary);
}
.content::-webkit-scrollbar-track,
.content::-webkit-scrollbar-thumb {
  border: 8px solid var(--bg-primary);
  border-radius: 20px;
}

.block {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1.5em;

  border-radius: 16px;
}

.blockText > h5 {
  margin-bottom: 0.25em;
  font-size: 24px;
  font-weight: 500;
}
.blockText > p {
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-secondary);
}
.blockText > h5,
.blockText > p {
  user-select: none;
}
.blockText > button {
  margin-top: 18px;
}
