.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(33, 33, 33, 1);
  background-position: top;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blur {
  position: absolute;
  z-index: 1;
  width: 100vw;
  object-fit: cover;
  top: 0;
  right: 0;
}

.grid {
  position: absolute;
  z-index: 1;
  width: 100vw;
  object-fit: cover;
  top: 0;
  right: 0;
}

.chat {
  position: absolute;
  top: 35px;
  width: 702px;
  height: 632px;
  left: 53.8%;
  left: 1033px;
  z-index: 1;
}
