.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../src/shared/assets/bg-grid.svg');
  background-color: rgba(33, 33, 33, 1);
  background-position: top;
  background-repeat: repeat-x;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blur {
  position: absolute;
}
