.page {
  width: 100%;
  background-color: var(--bg-primary);
}

.grid,
.blur {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top right;
}
.grid {
  background-image: url('../src/shared/assets/bg-grid.svg');
}
.blur {
  background-image: url('../src/shared/assets/blur.svg');
}
