.wrapper {
  padding: 150px 0 100px;
}

.wrapper > h2 {
  margin-bottom: 50px;
  font-size: 32px;
}

.wrapper > ul {
  border: 1px solid var(--border);
  border-radius: 24px;
}

/*li*/
.wrapper > ul > li {
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-bottom: 1px solid var(--border);
  transition: 0.15s;
}
.wrapper > ul > li.active {
  background: var(--bg-secondary);
}
.wrapper > ul > li:first-child {
  border-radius: 24px 24px 0 0;
}
.wrapper > ul > li:last-child {
  border-radius: 0 0 24px 24px;
  border-bottom: none;
}

/*header*/
.wrapper > ul > li > header {
  display: grid;
  grid-template-columns: 1fr 31px;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}
.wrapper > ul > li > header > h3 {
  font-size: 21px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
.wrapper > ul > li > header > img {
  transition: 0.15s;
}
.wrapper > ul > li.active > header > img {
  transform: rotate(90deg);
}

/*text*/
.wrapper > ul > li > span {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  opacity: 0.75;
}
