.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: fit-content;
  font-size: 20px;
  line-height: 23px;

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 17px;
  }

  @media (max-width: 768px) {
    font-size: 11px;
    line-height: 13px;
  }
}

.logo {
  width: 42px;
  height: 28px;

  @media (max-width: 1024px) {
    width: 32px;
    height: 21px;
  }

  @media (max-width: 768px) {
    width: 24px;
    height: 16px;
  }
}
