.button {
  padding: 22px 36px;
  font-size: 16px;
  line-height: 1;
  border: none;
  cursor: pointer;
  border-radius: 36px;
  color: var(--text-primary);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  transition: 0.15s;

  & span {
    width: max-content;
    text-wrap: nowrap;
  }

  @media (max-width: 1024px) {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 16px;
  }

  @media (max-width: 768px) {
    font-size: 10px;
    line-height: 14px;
  }
}

//size
.button.sm {
  padding: 12px 18px;

  @media (max-width: 1024px) {
    padding: 8px 12px;
  }
}

//variants
.button.contained {
  background-color: var(--primary-color);
}
.button.contained:hover {
  background-color: var(--primary-color-hover);
}

.button.outlined {
  border: 1px solid var(--text-primary);
  background-color: transparent;
}
.button.outlined:hover {
  color: var(--text-secondary);
  border: 1px solid var(--text-secondary);
}

//states
.button.disabled {
  background-color: grey;
  cursor: not-allowed;

  &:hover {
    background-color: grey;
  }
}
