.section {
  padding: 65px 0;
  background-color: var(--bg-secondary);

  @media (max-width: 745px) {
    padding: 28px 0;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  gap: 12.5%;

  @media (max-width: 745px) {
    grid-template-columns: 1fr;
    gap: 48px;
  }
}

.descriptionWrapper {
  @media (max-width: 745px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 48px;
  }
}

.titleWrapper {
  @media (max-width: 745px) {
    width: 355px;
  }
}

.titleWrapper > h2 {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 32px;

  @media (max-width: 745px) {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
}

.description {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 187px;
  opacity: 0.75;

  @media (max-width: 745px) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0;
  }
}

.contactUs {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 16px;

  @media (max-width: 745px) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 12px;
  }
}

.contactBlock {
  @media (max-width: 745px) {
    display: flex;
    flex-direction: column;
  }
}

.contactWrapper {
  display: flex;
  gap: 12px;

  @media (max-width: 745px) {
    flex-direction: column;
    gap: 8px;
  }
}

.contact {
  width: 100%;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  border: 1px solid var(--border);
  border-radius: 16px;

  @media (max-width: 745px) {
    padding: 16px;
  }
}

.contact ul {
  display: flex;
  gap: 0.3rem;
}

.contact p,
.contact li,
.contact li a {
  font-size: 16px;
  color: var(--text-secondary);
  text-decoration: none;
  white-space: nowrap;
  transition: 0.15s;

  @media (max-width: 745px) {
    font-size: 12px;
    line-height: 16px;
  }
}
.contact li a:hover {
  color: var(--primary-color);
}

.contact > a {
  font-size: 20px;
  line-height: 1;
  color: var(--text-primary);
  white-space: nowrap;
  text-decoration: none;
  transition: 0.15s;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 745px) {
    font-size: 14px;
  }
}
