.wrapper {
  padding: 25px 30px;
  display: grid;
  grid-template-columns: 1fr 31px;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

.wrapper h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.wrapper.isActive {
  padding: 8px 28px;
  grid-template-columns: 1fr 320px;
  background-color: var(--bg-secondary);
}

.wrapper.isActive h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
}

.wrapper.isActive p {
  font-size: 18px;
  line-height: 25px;
  color: var(--text-secondary);
}

.imageWrapper {
  width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
